// Variables
$black: #333333;
$white: #dddddd;

body {
  background: $white;
}

.pageWrapper {
  margin: 0 auto;
  width: 80%;
}

.baseFont {
  color: $black;
  font-family: arial, sans-serif;
}

.headline {
  @extend .baseFont;
  font-size: 36px;
}

.content {
  @extend .baseFont;
  
}
