body {
  background: #dddddd; }

.pageWrapper {
  margin: 0 auto;
  width: 80%; }

.baseFont, .headline, .content {
  color: #333333;
  font-family: arial, sans-serif; }

.headline {
  font-size: 36px; }
